@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 242, 242, 242;
  --background-end-rgb: 28, 24, 55;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

.button-base {
  margin: 8px;
  border-radius: 28px;
  font-size: 18px;
  padding: 12px 18px;
  transition: filter 0.3s;
}

.button-connect {
  background-color: #ab7745;
  border: 2px solid #ab7745;
}


.collapsed {
  width: 16px; 
}

.collapsed svg {
  display: none;
}

.collapsed span {
  display: none;
}

@media (max-width: 768px) {
  body {
    font-size: 14px; /* Decrease font size for better readability on smaller screens */
  }
  
  .text-xs {
    font-size: 12px;
  }

  .px-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .button-base {
    margin: 4px; /* Adjust margin for smaller screens */
    font-size: 16px; /* Reduce font size */
    padding: 8px 14px; /* Adjust padding for smaller buttons */
  }
  
  .button-connect,
  .button-vote {
    font-size: 14px; /* Adjust font size for buttons */
    padding: 8px 12px; /* Adjust padding for buttons */
  }
  
  /* Add more mobile-specific adjustments as needed */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .button-base:hover {
    filter: brightness(1.1);
  }
}
